<h1 class="main-text">Pallet Information Loading</h1>
<div class="row">
    <div class="col-6 factoryimg">
        <img src="assets/images/vision-systems.jpg" width="80%" height="400px" class="mt-5">
        <!-- <img src="assets/images/factory2.png" width="50%" class="mt-5"> -->
    </div>
    <div class="col-6">
        <div class="loader-content">
            <h3 class="pallet-text mb-1">Pallet Information is being read</h3>
            <div>
                <!-- <span class="material-icons retry-icon">
                    autorenew
                </span> -->
                <img src="../assets/images/spinning-arrows.gif">
            </div>
            <div class="progress mt-3" style="height:50px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    [ngStyle]="{'width': loading == true ? '30%':'100%' }" aria-valuenow="50" aria-valuemin="100"
                    aria-valuemax="100" routerLink="/dashboard">{{loading == true ? 'Loading...':'Loaded..'}}</div>
            </div>
            <!-- <button mat-raised-button color="primary" class="mt-3" (click)="navigateToDashboard()">Next</button> -->
        </div>
    </div>
</div>