<div>
    <div class='row pallets text-center'>
        <!-- <div class='col-6 '> -->
        <button class="pallet1" (click)="palletOne()">PID 3418</button>
        <button class="pallet3" (click)="palletThree()">PID 3419</button>
        <button class="pallet2" (click)="palletTwo()">PID 3420</button>

        <!-- </div> -->
        <!-- <div class="col-3 ">
            <button class="pallet2" (click)="palletTwo()">PID 3212</button>

            <button class="pallet4" (click)="palletFour()">PID 3214</button>
        </div> -->
        <!-- <div class="col-6 search">
            <mat-label style="color:rgb(8, 154, 221);font-size: larger;font-weight: bold;margin-right: 30px;">
                FolderSearch:</mat-label>
            <mat-form-field appearance="fill">
                <mat-select>
                    <mat-option *ngFor="let option of pallets" [value]='option'>{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="pallettext">Click on the Pallet ID</p>
        </div> -->
    </div>
    <!-- <div class="row">
        <span class="spacer"></span>
       
    </div> -->
</div>