.main-text{
    color:rgb(10, 10, 83);
        font: 1.7em sans-serif;
        font-weight: bold;
        margin-top: 10px;
    }
    .imgCol{
    //    padding:150px;
        border:2px orange solid;
        margin-left: 10%;
       max-width:35%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .labelBtn{
        background-color: orange;
        color: white;
        border: 2px black solid;
        width:80px;
        height:35px;
        text-align: center;
    }
    .inspctText{
        font-size: 18px;
        font-weight: bold;
    }
    .barcode{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color:black;
    }
    
    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;
    }
    